In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
roms = pd.concat([pd.DataFrame(
    [{'arab':a.text.split()[0],'roman':a.text.split()[1]} for a in \
 BeautifulSoup(requests.get('https://smorgasborg.artlung.com/roman-numerals/page/%d' % p) \
              .content,'html5lib').find('pre').find_all('a')]) for p in range(1,11)])\
    .loc[lambda df: df['arab'] != '0',:]

In [3]:
roms

       arab              roman
1         1                  I
2         2                 II
3         3                III
4         4                 IV
5         5                  V
...     ...                ...
996    9996    MMMMMMMMMCMXCVI
997    9997   MMMMMMMMMCMXCVII
998    9998  MMMMMMMMMCMXCVIII
999    9999    MMMMMMMMMCMXCIX
1000  10000         MMMMMMMMMM

[10009 rows x 2 columns]

In [4]:
def rom2ar_test(fun): # ez azokat az eseteket adja vissza, ahol az átváltás helytelen
    calc = roms['roman'].apply(fun)
    tru = roms['arab'].apply(int)
    return roms[calc != tru]

In [12]:
def rom2ar(rom_string):
    list1 = list()
    format = 0
    for i in range(0, len(rom_string)):
        if rom_string[i] == 'I':
            list1.append(int(1))
        elif rom_string[i] == 'V':
            list1.append(int(5))
        elif rom_string[i] == 'X':
            list1.append(int(10))
        elif rom_string[i] == 'L':
            list1.append(int(50))
        elif rom_string[i] == 'C':
            list1.append(int(100))
        elif rom_string[i] == 'D':
            list1.append(int(500))
        elif rom_string[i] == 'M':
            list1.append(int(1000))
    
    i = 0
    while i < len(list1) - 1:
        if list1[i] < list1[i+1]:
            format = format + list1[i+1] - list1[i];
            i = i + 2
        else:
            format = format + list1[i]
            i = i + 1
    if i == len(list1):
        if list1[i-2] == list1[i-1]:
            format = format + list1[i-1]
    else:
        format = format + list1[i]
    return format

In [13]:
rom2ar_test(rom2ar) #ha jól csináltátok, egy üres dataframet kaptok "arab" és "roman" oszlopokkal

Empty DataFrame
Columns: [arab, roman]
Index: []