In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
roms = pd.concat([pd.DataFrame(
    [{'arab':a.text.split()[0],'roman':a.text.split()[1]} for a in \
 BeautifulSoup(requests.get('https://smorgasborg.artlung.com/roman-numerals/page/%d' % p) \
              .content,'html5lib').find('pre').find_all('a')]) for p in range(1,11)])\
    .loc[lambda df: df['arab'] != '0',:]

In [5]:
roms

       arab              roman
1         1                  I
2         2                 II
3         3                III
4         4                 IV
5         5                  V
...     ...                ...
996    9996    MMMMMMMMMCMXCVI
997    9997   MMMMMMMMMCMXCVII
998    9998  MMMMMMMMMCMXCVIII
999    9999    MMMMMMMMMCMXCIX
1000  10000         MMMMMMMMMM

[10009 rows x 2 columns]

In [10]:
def rom2ar_test(fun): # ez azokat az eseteket adja vissza, ahol az átváltás helytelen
    calc = roms['roman'].apply(fun)
    tru = roms['arab'].apply(int)
    return roms[calc != tru]

In [16]:
def rom2ar(rom_string):
    
    romai_arab = {'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, 'M':1000}
    result = 0
    i = 0
    
    for c in rom_string:
        
        if (i+1) == len(rom_string) or romai_arab[c] >= romai_arab[rom_string[i+1]]:
            result += romai_arab[c]
            
        else:
            result -= romai_arab[c]
            
        i += 1
            
    return result

In [17]:
rom2ar_test(rom2ar) #ha jól csináltátok, egy üres dataframet kaptok "arab" és "roman" oszlopokkal

Empty DataFrame
Columns: [arab, roman]
Index: []